<div class="border-b-2 border-b-slate-500">
  <p
    *ngIf="loading; else loaded"
    class="min-h-screen flex justify-center items-center text-center text-xl"
  >
    <img src="/assets/Spinner.svg" alt="Loading..." />
  </p>
  <ng-template #loaded>
    <div class="mt-3 text-center text-xl font-semibold">
      {{ title | titlecase }}
    </div>
    <div class="container mx-auto flex justify-between">
      <div class="w-full mx-4 flex flex-row">
        <div class="w-1/2 mx-4 my-6">
          <custom-input
            [type]="'number'"
            [name]="'First Currency'"
            [value]="firstCurrencyValue"
            (outChangeValue)="saveFirstValue($event)"
          ></custom-input>
          <custom-select
            name="currency"
            [currencyList]="data"
            [value]="secondCurrency"
            (outChangeValue)="saveFirstCurrency($event)"
          ></custom-select>
        </div>
        <div class="w-1/2 mx-4 my-6">
          <custom-input
            [type]="'number'"
            [name]="'Second Currency'"
            [value]="secondCurrencyValue"
            (outChangeValue)="saveSecondValue($event)"
          ></custom-input>
          <custom-select
            name="currency"
            [currencyList]="data"
            [value]="secondCurrency"
            (outChangeValue)="saveSecondCurrency($event)"
          ></custom-select>
        </div>
      </div>
    </div>
  </ng-template>
</div>
